extends layout

block content
	#login
		p Nickname  
			input#nickname
		button#enter.btn.btn-primary(type='submit') Enter

	#chat.row
		div#mainarea.col-md-6.panel.panel-default.well
			div#mess
				ul#messages
			div
				input#message.form-control(type='text', autocomplete='off', placeholder='Type..')
		div.col-md-6
			canvas#canvas(width="500", height="500", style="border:1px solid #999999;")